:host{
  position: absolute;
  top: -63px;
  right: 0;
  width: 71%;
  height: 100%;
}
.user{
  margin-bottom: 30px;
  &-title{
    color: #525460;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.07px;
    margin-bottom: 10px;
  }
  &-comment{
    background-color: #e3e9f4;
    padding: 10px 10px 21px 10px;
  }
  &-created{

    color: #63677c;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.06px;
    margin-bottom: 18px;
  }
}
.comments{
  margin-top: 45px;
  .user{
    position: relative;
    padding-left: 46px;
    &:before{
      position: absolute;
      content: '';
      width: 40px;
      height: 40px;
      border: 1px solid #c5cdd3;
      background-color: #f5f5f5;
      border-radius: 100%;
      left: 0;
      top: 0;
    }
    &-title{
      padding-top: 7px;
    }
  }

}
.close {
  cursor: pointer;
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  right: 30px;
  top:50%;
  transform: translateY(-50%);
  background-image: url(../../../assets/img/close.png);
}
.form-edit{
  width: 100%;
  background: #ecf3f7;
  height: 102%;
  .title{
    position: relative;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.09px;
    background-color: #1a4876;
    padding: 25px 37px;
    letter-spacing: 0.09px;
    .number-order{
      margin-right: 25px;
    }
    .description-order{
      font-size: 16px;
      font-weight: 300;
    }
  }
  form{
    padding: 55px 42px;
    .field{
      &.comment-title{
        margin-top: 50px;
      }
      &-title{
        margin-bottom: 22px;
        color: #9f9ea7;
        font-family: Ubuntu;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
      }
      &-description{
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
      }
    }
    label{
      display: block;
      margin-bottom: 22px;
      span{
        display: block;
        margin-bottom: 12px;
      }
      input{
        max-width: 625px;
        width: 100%;
        line-height: 32px;
        border-radius: 5px;
        border: 1px solid #e8e8e8;
        background-color: #f9f9fa;
      }
      textarea{
        max-width: 625px;
        width: 100%;
        min-height: 134px;
      }
    }
    button{
      margin-top: 74px;
    }
  }
&-bar{

}
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-duration: .4s;
}
