<div class="nav-bar">
  <a routerLink="/" class="logo"></a>
  <ul>
    <li><a routerLinkActive="active-link" [routerLink]="['/data']">База знаний</a></li>
    <li><a routerLinkActive="active-link" [routerLink]="['/order-list']">Заявки</a></li>
    <li><a routerLinkActive="active-link" [routerLink]="['/users']">Сотрудники</a></li>
    <li><a routerLinkActive="active-link" [routerLink]="['/clients']">Клиенты</a></li>
    <li><a routerLinkActive="active-link" [routerLink]="['/actives']">Активы</a></li>
    <li><a routerLinkActive="active-link" [routerLink]="['/settings']">Настройки</a></li>
  </ul>
</div>
