<table class="table">
  <thead>
  <tr>
    <th width="6.3%" scope="col">ID</th>
    <th width="23.3%" scope="col">Название</th>
    <th width="6%" scope="col">Статус</th>
    <th width="64.4%" scope="col">Исполнитель</th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let item of listOrders; let index = index; trackBy: trackByFn"
    (click)="getOrder(item.id)"
  >
    <td class="priority">
      <span [ngStyle]="{'background-color': priorityColorOrder[index].color}"></span>{{item.id}}
    </td>
    <td>
      {{item.name}}
    </td>
    <td>
      <span class="status" [ngStyle]="{'background-color': statusColorOrder[index].color}">{{item.statusName}}</span>
    </td>
    <td>{{item.executorName}}</td>
  </tr>
  </tbody>
</table>
